<app-admin-toolbar (logout)="logout()"></app-admin-toolbar>

<mat-horizontal-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Profil</ng-template>
        <app-edit-profile></app-edit-profile>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Compétences</ng-template>
        <app-edit-skills></app-edit-skills>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Formation</ng-template>
        <app-edit-education></app-edit-education>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Expérience</ng-template>
        <app-edit-experience></app-edit-experience>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Projets</ng-template>
        <app-edit-projects></app-edit-projects>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Loisirs</ng-template>
        <app-edit-hobbies></app-edit-hobbies>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
    </mat-step>
</mat-horizontal-stepper>

<pre appCollapse>{{ authService.currentUser | async | json }}</pre>