<app-admin-toolbar [profiles]="profiles" [selectedProfile]="selectedProfile" (selectedProfileChange)="selectionChanged($event)"
(logout)="logout()" (new)="newProfile()" (remove)="removeProfile()" (save)="saveProfile()"></app-admin-toolbar>

<!-- [linear]="true" -->
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="editProfileService.group">
        <ng-template matStepLabel>Profil</ng-template>
        <app-edit-profile></app-edit-profile>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Compétences</ng-template>
        <app-edit-skills [profileId]="selectedProfile?.id"></app-edit-skills>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Formation</ng-template>
        <app-edit-education></app-edit-education>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Expérience</ng-template>
        <app-edit-experience></app-edit-experience>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Projets</ng-template>
        <app-edit-projects></app-edit-projects>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Loisirs</ng-template>
        <app-edit-hobbies></app-edit-hobbies>
    </mat-step>
</mat-horizontal-stepper>

<!-- <pre appCollapse>{{ authService.currentUser | async | json }}</pre> -->