.mat-card + .mat-card {
    margin-top: 5px;
}

.mat-card-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2;
    grid-gap: 1rem; 
    justify-content: space-between;

    .mat-slider {
        grid-column: span 2;
    }
}

.mat-card-footer {
    display: flex;
    justify-content: flex-end;
}