<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Administration</span>
    <span class="spacer"></span>

    <!-- Dropdown that swap forms to another profile -->
    <mat-select class="profiles" [(ngModel)]="selectedProfile" [compareWith]="compareWith">
      <mat-option *ngFor="let profile of profiles | async" [value]="profile">
        {{ profile.title }}
      </mat-option>
    </mat-select>

    <button mat-raised-button color="accent" (click)="logout.emit()">
      <fa-icon [icon]="['fas', 'power-off']"></fa-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>